[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector = "*"
pytest = "*"
sqlalchemy = "*"
environs = "*"
"flake8" = "*"
"iso8601" = "*"
pyyaml = "*"
pymarc = "*"
pytest-cov = "*"
codecov = "*"
jsonschema = "*"
selenium = "*"
freezegun = "*"
setuptools = "*"
zed-event = {git = "https://github.com/cdlib/zephir-services.git", subdirectory = "zed-event"}
msgpack = "*"
pandas = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
numpy = "*"
pylint = "*"
install = "*"
black = {extras = ["jupyter"], version = "*"}
slack-sdk = "*"

[dev-packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = false
