[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector = "*"
pytest = "*"
sqlalchemy = "*"
environs = "*"
"flake8" = "*"
black = "*"
"iso8601" = "*"
pyyaml = "*"
pymarc = "*"
pytest-cov = "*"
codecov = "*"
jsonschema = "*"
selenium = "*"
freezegun = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
