[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector = "*"
pytest = "*"
sqlalchemy = "*"
environs = "*"
"flake8" = "*"
black = "*"
"iso8601" = "*"
pyyaml = "*"
pymarc = "*"
pytest-cov = "*"
codecov = "*"
jsonschema = "*"
selenium = "*"
freezegun = "*"
setuptools = "*"
zed-event = {git = "https://github.com/cdlib/zephir-services.git",ref = "amz2_branch",subdirectory = "zed-event"}
msgpack = "*"
plyvel = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
